.mypage{

    margin: 0;
    padding: 0;
    /* background-color: red; */
}
.video{
   background-color: blue;
   height: 50vh;
}
.containerz{
    display: flex;
    height: 50vh;
     background-color:whitesmoke;
     justify-content: center;
     
}
.profile{
    display: flex;
    /* background-color: blueviolet; */
    height: 100%;
    width: 488px;
    flex-flow: column;
    justify-content: space-evenly;
    /* justify-items: center; */
    align-items: center;
    /* align-content: space-evenly; */
}
.pedit{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    text-align: center;
    
}
.pimg{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
}
.profile h1{
    background-color: brown;
    width: auto;
}
.pname{
    font-weight: bold;
    font-size: 30px;
}
.dimg{
    height: 120px;
    width: 120px;
}
