.mypage{

    margin: 0;
    padding: 0;
    background-color:rgb(255, 217, 217);
}
.video{
   background-color: gainsboro;
   padding:10px;
   min-height: 50vh;
   display: flex;
   flex-wrap: wrap;
}
.containerz{
    display: flex;
    height: 50vh;
     background-color:whitesmoke;
     justify-content: center;
     
}
.profile{
    display: flex;
    /* background-color: blueviolet; */
    height: 100%;
    width: 488px;
    flex-flow: column;
    justify-content: space-evenly;
    /* justify-items: center; */
    align-items: center;
    /* align-content: space-evenly; */
}
.pedit{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    text-align: center;
    
}
.pimg{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
}
.profile h1{
    background-color: brown;
    width: auto;
}
.pname{
    font-weight: bold;
    font-size: 30px;
}
.dimg{
    height: 120px;
    width: 120px;
}
.pvid{
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color: red;
}
.pviddiv{
    display: inline;
    text-align: center;
}
